@import '../utils/variables';

.card-desc {
    border: 1px solid $border-projekt;
    border-top: 0;
    padding: 20px 24px;
    height: 146px;
}

.projects__link {
    display: block;
    color: $text-primary;
    transition-property: transform;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);

        .projects__text-wrapper {
            top: 0;
            left: 0;
            transform: translateY(0%);
        }
    } 
}

.card-desc__title {
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.card-desc__text {
    font-weight: $font-weight-400;
    font-size: 16px;
    line-height: 1.88;
}

.projects__wrapper {
    position: relative;
    overflow: hidden;
}

.projects__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    transition-property: transform;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__desc {
    color: $color-primary-white;
    font-weight: $font-weight-400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.projects__wrapper {
    max-width: 450px;

    @include media-query(tablet){
max-width: 354px;
    }
    @include media-query(desktop){
max-width: 370px;
    }
}

.img-error {
    @include media-query(tablet) {
        max-width: 354px;
    }
}


