@import '../utils/variables';
@import '../utils/media-query';

.socials {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.join-social {
    @include media-query(mobile){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    
    
}

.socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-accent;

        .socials__icon {
            fill: $color-primary-white;
        }
    }
}

.socials__icon {
    fill: $icon-primary;
    transition-property: fill;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--background {
    background-color:rgba(255, 255, 255, 0.1);
}

.footer__socials {
    margin-top: 0;
}

.socials__icon--fill {
    fill: $color-primary-white;
}