/* Colors */

$text-primary: #212121;
$text-secondary: #757575;
$color-primary-white: #ffffff;
$color-primary-black: #000000;
$color-accent: #2196F3;
$background-primary: #2F303A;
$background-secondary: #F5F4FA;
$border-header: #ECECEC;
$border-projekt: #EEEEEE;
$icon-primary: #AFB1B8;

/* Fonts */

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;